{% extends "ppwa/ppwa.html" %}

{% block description %}ACME Vaction Products{% endblock %}

{% block header %}
  <h2>Your Next Vacation</h2>
{% endblock %}

{% block left %}
  {% if products %}
    <ul>
    {% for product in products %}
    <li>
      <a href="{% url 'product-detail' uuid=product.uuid %}">{{ product.name }}</a>
      ${{ product.price }}
      <em>{{ product.description|truncatewords_html:18|safe }}</em>
    </li>
    {% endfor %}
    </ul>
    {% if is_paginated %}
    <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1">first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
      <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}
    </div>
    {% endif %}

  {% else %}
    <p>Sorry we have nothing to sell.</p>
  {% endif %}
{% endblock %}
